<!-- <div class="row">
  <div class="col-lg-9 container">
    <h3>Summary</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>You Owe Others</th>
          <th>Others Owe You</th>
          <th>Your Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= number_to_currency(@user.user_debt)  %></td>
          <td><%= number_to_currency(@user.user_owed) %></td>
          <td><%= number_to_currency(@user.user_balance) %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<div class="row">
<div class="col-lg-9">
<h3 class = "page-header">Overview</h3>
</div>
</div>

<div class="row">
<div class="col-lg-9 container">
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Action</th>
      <th>Party</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody style="background-color:#e5f2ff;">
    <% @sorted_recent.each do |object| %>
    <tr>
      <td><%= vectorize(object) %></td>

      <%if object.class == Invoice %>
      <td>from <%= object.debts.length %> users</td>
      <%else%>
      <td>to <%= object.invoice.user.email %></td>
      <%end%>

      <%if object.class == Invoice %>
      <td style = "color: green;"><i class= "fa fa-sort-asc"></i><%= number_to_currency(object.invoice_remainder) %></td>
      <%else%>
      <td style = "color: red;"><i class= "fa fa-sort-desc"></i><%= number_to_currency(object.outstanding_balance) %></td>
      <%end%>

      <td>As of: <%= object.updated_at.strftime("%m/%d/%Y") %></td>
      <td>For: <%= object.name  %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
</div>

<!-- <div class="row">
  <div class = "col-lg-9 container">
    <h3>Invoices</h3>
    <div class ="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Total Paid</th>
          <th>Others Owe</th>
          <th>Others Have Paid</th>
          <th>You Have Paid</th>
        </tr>
        </thead>
        <tbody>
        <% @invoices.each do |invoice| %>  
        <% if !invoice.paid? %>
        <tr>
          <td>
            <a href= <%="/invoices/#{invoice.id}"%>><%= invoice.name %></a>
          </td>
          <td><%= number_to_currency(invoice.amount) %></td>
          <td><%= number_to_currency(invoice.others_owe) %></td>
          <td><%= number_to_currency(invoice.others_paid) %></td>
          <td><%= number_to_currency(invoice.chump_value) %></td>
        </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9 container">
    <h3>Debts you owe</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
      <thead>
       <tr>
         <th>Debt name</th>
         <th>Who you owe</th>
         <th>Debt Total Amount</th>
         <th>Amount You've Paid</th>
         <th>Amount Outstanding</th>

       </tr>
       </thead>
       <tbody>
       <%@debts.each do |debt|%>
       <tr>
        <td><a href= <%="/debts/#{debt.id}"%>><%= debt.name %></a></td>
        <td><%= debt.invoice.user.email %></td>
        <td><%= number_to_currency(debt.amount) %></td>
        <td><%= number_to_currency(debt.paid_amount_formatted) %></td>
        <td><%= number_to_currency(debt.outstanding_balance) %><a class="btn btn-success payupbtn" href=<%="/debts/#{debt.id}"%>>Pay Up</a></td>
      </tr>
      <%end%>
      </tbody>
    </table>
  </div>
</div>
</div> -->