
 <!-- Page Heading -->
<div class="row">
  <div class="col-lg-9">
    <h3 class="page-header">
      Debts you owe
    </h3>
  </div>
</div>


<div class="row">
<div class = "col-lg-9 container">
<div class = "table-responsive">
  <table class="table table-bordered table-hover table-striped">
  <thead>
   <tr>
     <th>Debt name</th>
     <th>Who you owe</th>
     <th>Debt Total Amount</th>
     <th>Amount You've Paid</th>
     <th>Amount Outstanding</th>
    </tr>
    </thead>
    <tbody>
    <%@debts.each do |debt|%>
      <tr>
        <td><a href= <%="/debts/#{debt.id}"%>><%= debt.name %></a></td>
        <td><%= debt.invoice.user.email %></td>
        <td><%= number_to_currency(debt.amount) %></td>
        <td><%= number_to_currency(debt.paid_amount_formatted) %></td>
        <td><%= number_to_currency(debt.outstanding_balance) %><a class="btn btn-success payupbtn" href=<%="/debts/#{debt.id}"%>>Pay Up</a></td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
</div>
</div>
        <!-- <div class="text-right">
          <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
