<div class="row">
<div class="col-lg-9">
<h1 class="page-header"><%= @debt.name.capitalize %></h1>
</div>
</div>

<div class="row">
<div class="col-lg-9 container">
<div class="table-responsive">
<table class="table table-bordered table-hover table-striped">
<thead>
   <tr>
     <th>User</th>
     <th>You Owe</th>
     <th>You've Paid</th>
     <th>You Still Owe</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @debt.invoice.user.email %></td>
      <td><%= number_to_currency(@debt.amount) %></td>
      <td><%= number_to_currency(@debt.paid_amount_formatted) %></td>
      <td><%= number_to_currency(@debt.outstanding_balance) %></td>
    </tr>
    </tbody>
</table>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-9 container">
<h3>Pay Debt</h3>
  <%= form_tag "/debts/#{@debt.id}", method: :patch do %>
  <table>
    <tr>
      <td>
        <%= label_tag :amount%>
      </td>
      <td>
        <%= text_field_tag :amount%>
      </td>
    </tr>
  </table>
  <%= hidden_field_tag :id, @debt.id %>
  <%= submit_tag "Pay Up"%>
  <% end %>
</div>
</div>
