<div class="row">
    <div class="col-12-lg">
      <h1 class = "page-header">Edit Invoice</h1>
    </div>
</div>

<div class="row">
<div class="col-lg-12 container">
<%= form_tag "/invoices/#{@invoice.id}", method: :patch do %>
<table>
<tr>
<td style="padding:10px;">
  <%= label_tag :name, "Invoice Name" %>
  </td>
  <td style="padding:10px;">
  <%= text_field_tag :name, @invoice.name %>
</td>
</tr>
<tr>
<td style="padding:10px;">
  <%= label_tag :amount %>
  </td>
  <td style="padding:10px;">
  <%= text_field_tag :amount, @invoice.amount %>
</td>
</tr>
<tr>
<td>
<%= hidden_field_tag :id, @invoice.id %>
</td>
<td style="padding:10px; float: right;">
  <%= submit_tag "Update Invoice" %>
</td>
</tr>
</table>
<% end %>
</div>
</div>