<% if current_user %>

<div class="row">
  <div class = "col-lg-9 container">
    <h3 class = "page-header">Invoices</h3>
    <div class ="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Total Bill</th>
          <th>Total You are Owed</th>
          <th>Others Have Paid</th>
          <th>Others Still Owe</th>
          <th>Your Current Contribution</th>
        </tr>
        </thead>
        <tbody>
        <% @invoices.each do |invoice| %>  
        <% if !invoice.paid? %>
        <tr>
          <td>
            <a href= <%="/invoices/#{invoice.id}"%>><%= invoice.name %></a>
          </td>
          <td><%= number_to_currency(invoice.amount) %></td>
          <td><%= number_to_currency(invoice.others_owe) %></td>
          <td><%= number_to_currency(invoice.others_paid) %></td>
          <td><%= number_to_currency(invoice.invoice_remainder) %></td>
          <td><%= number_to_currency(invoice.chump_value) %></td>
        </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% else %>

<h1>You need to log in to view invoices</h1>

<% end %>