<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">Create Invoice</h3>
  </div>
</div>

<%= form_tag '/invoices', method: :post do %>
<table>
<tr>
  <td style="padding: 10px">
  <%= label_tag :name %>
  </td>
  <td style="padding: 10px">
  <%= text_field_tag :name %>
  </td>
</tr>
<tr>
  <td style="padding: 10px">
  <%= label_tag :amount %>
  </td>
  <td style="padding: 10px">
  <%= text_field_tag :amount %>
  </td>
</tr>
<tr>
  <td></td>
  <td style="padding: 10px; float:right;">
  <%= submit_tag "Create Invoice" %>
  </td>
</tr>
</table>
<% end %>