<div class="row">
  <div class="col-lg-9">
    <h1 class = "page-header"><%= @invoice.name %></h1>
  </div>
</div>


<div class="row">
  <div class = "col-lg-9 container">
    <h3>Details</h3>
    <div class = "table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Total Bill</th>
          <th>Total You are Owed</th>
          <th>Others Have Paid</th>
          <th>Others Still Owe</th>
          <th>Your Current Contribution</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= number_to_currency(@invoice.amount)%></td>
            <td><%= number_to_currency(@invoice.others_owe) %></td>
            <td><%= number_to_currency(@invoice.others_paid) %></td>
            <td><%= number_to_currency(@invoice.invoice_remainder) %></td>
            <td><%= number_to_currency(@invoice.chump_value) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= link_to "Edit", "/invoices/#{@invoice.id}/edit", method: :get %>
    <div style="float:right;margin-right:20px;"><%= link_to "Delete Invoice", "/invoices/#{@invoice.id}", method: :delete %></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9 container">
    <h3>Debts assigned</h3>
    <div class = "table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Owes You</th>
            <th>For</th>
            <th>User Has Paid</th>
            <th>User Still Owes</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%@invoice.debts.each do |debt|%>
          <tr>
            <td><%= debt.user.email %></td>
            <td><%= number_to_currency(debt.amount) %></td>
            <td><%= debt.name %></td>
            <td><%= number_to_currency(debt.paid_amount_formatted) %></td>
            <td><%= number_to_currency(debt.outstanding_balance) %></td>
            <td><%= link_to "Edit", "/debts/#{debt.id}/edit", method: :get %></td>
            <td><%= link_to "Delete", "/debts/#{debt.id}", method: :delete %>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-9">
    <h3>Assign Debt</h3>
    <%= form_tag '/debts', class: "form-horizontal", method: :post do %>
    <table>
        <td>
          <%= label_tag :name%>
        </td>
        <td>
          <%= text_field_tag :name%>
        </td>
      </tr>
      <tr>
        <td>
          <%= label_tag :email%>
        </td>
        <td>
          <%= text_field_tag :email%>
        </td>
      </tr>
      <tr>
        <td>
          <%= label_tag :amount%>
        </td>
        <td>
          <%= text_field_tag :amount%>
        </td>
      </tr>
    </table>
    <%= hidden_field_tag :invoice_id, @invoice.id %>
    <%= submit_tag "Assign Debt"%>
    <% end %>
  </div>
</div>

